<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="API">
        <classes>
            <class name="GET"></class>
            <class name="POST"></class>
            <class name="PUT"></class>
        </classes>
    </test>
</suite>